<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ pokemon.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}
    {% include 'components/searchbar.html' %}
    <div class="container">
        <h1>{{ pokemon.name }}</h1>
        <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
        <p>Types : {{ pokemon.types }}</p>
        <p>Height : {{ pokemon.height }} m</p>
        <p>Weight : {{ pokemon.weight }} kg</p>

        <div class="stats">
            <div class="stat">
                <p>HP : {{ pokemon.hp }}</p>
                <div class="progress-container">
                    <div class="progress-bar" data-value="{{ pokemon.hp }}"></div>
                </div>
            </div>
            <div class="stat">
                <p>Attack : {{ pokemon.attack }}</p>
                <div class="progress-container">
                    <div class="progress-bar" data-value="{{ pokemon.attack }}"></div>
                </div>
            </div>
            <div class="stat">
                <p>Defense : {{ pokemon.defense }}</p>
                <div class="progress-container">
                    <div class="progress-bar" data-value="{{ pokemon.defense }}"></div>
                </div>
            </div>
            <div class="stat">
                <p>Special Attack : {{ pokemon.special_attack }}</p>
                <div class="progress-container">
                    <div class="progress-bar" data-value="{{ pokemon.special_attack }}"></div>
                </div>
            </div>
            <div class="stat">
                <p>Special Defense : {{ pokemon.special_defense }}</p>
                <div class="progress-container">
                    <div class="progress-bar" data-value="{{ pokemon.special_defense }}"></div>
                </div>
            </div>
            <div class="stat">
                <p>Speed : {{ pokemon.speed }}</p>
                <div class="progress-container">
                    <div class="progress-bar" data-value="{{ pokemon.speed }}"></div>
                </div>
            </div>  
            <audio controls>
                <source src="{{ pokemon.cry_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <a href="/">Retour au Pokédex</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const progressBars = document.querySelectorAll(".progress-bar");

            progressBars.forEach(bar => {
                const value = bar.getAttribute("data-value");
                const max = 255; // Remplacez par la valeur max selon vos besoins
                const percentage = (value / max) * 100;
                bar.style.width = percentage + "%";
            });
        });
    </script>
</body>
</html>
