<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pokedex</title>
    {% load static %}
</head>
<body>
    {% include 'components/navbar.html' %}

    <h1>Pokedex</h1>
    
    {% include 'components/searchbar.html' %}

    {% if pokemons %}
    <div class="pokemon-grid">
        {% for pokemon in pokemons %}
        <a href="{% url 'pokemon_detail' pokemon.id %}">
            <div class="pokemon-card">
                <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
                <strong>#{{ pokemon.id }} - {{ pokemon.name }}</strong>
                <p>{% for type in pokemon.types.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-results">
        <p>Pas de Pokémon trouvé.</p>
    </div>
    {% endif %}
</body>
</html>
